

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
}
.head-clword {
    color: deepskyblue;
}
header {
	width: 334px;
    margin-top: 64px;
    margin-bottom: 38px;
	height: 80px;
}

.top-menu {
	display: flex;
	width: 100%;
	height: 72px;
	justify-content: center;
	gap: 1px;
}
.top-menu li {
	border: 1px solid #35444F;
	background-color: #35444F;
	padding: 26px 38px 20px;
	width: fit-content;
}
.top-menu a {
	color: white;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}
main {
	display: flex;
	gap: 52px;
	margin-top: 48px;
}
.left-menu {
	display: grid;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-between;
	gap: 52px;
	width: 344px;
	height: 399px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #000000;
	padding-top: 26px;
	padding-left: 44px;
	padding-bottom: 30px; 
	box-sizing: border-box;
}


.left-menu a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 27px;
	color: #485863;
	text-decoration: none;
}
section div {
	width: auto;
	border: 1px solid #000000;
	background: rgba(0, 0, 0, 0.0001);
}
.photo img {
	padding: 74px 268px 74px 297px;
	transition: transform 0.35s;
}
section p {
	margin: 36px auto;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
}
footer ul {
	display: flex;
	width: 100%;
	margin: 54px auto 30px;
	height: 69px;
	background: rgba(99, 105, 110, 0.48);
	justify-content: space-around;
	align-items: center;
}
footer li {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	
}
.item-top:hover {
	background: #222F3A;
}

.item-left:hover {
	background-color: #DBDBDB;
}
 .photo {
	overflow: hidden;
 }
 .photo:hover img {
	transform: scale(1.1);
 }